@import "mixins";
@import "variables";
@import "~bootstrap/dist/css/bootstrap.css";

.about {
  @include flex-container(row);
  position: relative;
  height: 100vh;
  background-color: $dark-purple;

  &__details {
    left: 10%;
    position: absolute;
    flex-basis: 50%;
    color: $white;
  }

  &__title {
    color: $white;
    font-size: $font-size-h1;
  }

  &__paragraph {
    color: $white;
    font-size: $paragraph;
    margin-bottom: 15px;
  }

  &__cv_button {
    background-color: $light-purple;
    color: $white;
    border-radius: 10px;
    border: 2px solid $purple;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  &__cv_button:hover {
    background-color: $purple;
    color: $white;
  }

  &__img {
    position: absolute;
    height: 90vh;
    max-width: 100%;
    bottom: 0;
    right: 0;
  }
}

@include mq-between(sm, md) {
  .about {
    &__img {
      position: absolute;
      max-width: 100%;
      height: auto;
      right: 10%;
      left: 10%;
      object-fit: cover;
      object-position: bottom;
    }

    &__details {
      //position: absolute;
      flex-basis: 90%;
      top: 100px;
      left: 10%;
      //@include flex-container(column);
    }
  }
}

@include mq-between(xs, lg) {
  .about {
    &__img {
      position: absolute;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: bottom;
      //flex-basis: 90%;
      //bottom: 0;
      //right: 20%;
      //left: 20%;
      //max-width: 60%;
      //height: auto;
    }

    &__details {
      position: absolute;
      flex-basis: 90%;
      top: 100px;
      left: 10%;
      @include flex-container(column);
    }
  }
}

@include mq-between(md, lg) {
  .about {
    height: 165vh;
  }
}
@include mq-between(sm, md) {
  .about {
    height: 120vh;
  }
}
@include mq-between(xs, sm) {
  .about {
    height: 100vh;
  }
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
