<div class="about">
    <div class="text">
        <h1 class="title">{{title}}<span class="purple_highlight">A</span>ndjela. <span class="wave">👋</span>
        </h1>
        <p class="paragraph">{{paragraph}}
        </p>
        <a href="https://drive.google.com/file/d/1AHCyeXS-vt7o6LL2iG17hGfQsKBzoFLZ/view?usp=share_link" target="_blank">
            <button class="cv_button">My resume</button>
        </a>
    </div>
    <div class="image">
        <img src="assets/img/profilePicture.png" alt="profile">
    </div>
</div>