<footer class="contact" id="contact">
    <h1 class="contact__title">CONTACT</h1>
    <p class="contact__paragraph" [@scrollAnimation]="state">
        I'm seeking out opportunities to work with companies and individuals.
        <br /><br /> I have learned how to translate business requirements into technical solutions.
        <br>When it comes to new platforms and technologies, I like to learn as much as I can and then apply what I've
        discovered to current projects.
        <br /><br /> Working in a team environment and getting to know new people is something I enjoy.
        <br> I want to contribute my expertise so that we may work together to resolve actual business-problems.
        <br /><br />
        <br />If that all sounds right, then lets get in touch how we can work together.
    </p>
    <div class="button_container">
        <a href="tel:381638821947">
            <button class="contact__button">Contact me</button>
        </a>
    </div>
    <p>
        <br /><br />Feel free to reach out through any of the platforms below:
    </p>
    <ul class="list" [@scrollAnimation]="state">
        <li class="list__item">
            <a href="mailto:1andjela.ljubenkovic@gmail.con" target="_blank">
                <img class="list__icon" src="./assets/icons/mail.png" /></a>
        </li>
        <li class="list__item">
            <a href="https://www.linkedin.com/in/andjela-ljubenkovic/" target="_blank">
                <img class="list__icon" src="./assets/icons/linkedin.png" />
            </a>
        </li>
        <li class="list__item ">
            <a href="https://github.com/Andjela24" target="_blank">
                <img class="list__icon" src="./assets/icons/github.png" /></a>
        </li>
    </ul>
    &copy; Copyright 2022
</footer>