<footer class="contact">
    <h1 class="title">CONTACT</h1>
    <p class="paragraph">
        As a software developer, I'm always on the lookout for new challenges and opportunitie to improve my skills and
        make a positive impact.
        <br /><br />If you're looking for a driven and passionate software developer to join your team,
        I'd love to learn more about your company and how I can contribute.
    </p>
    <p class="paragraph">
        Thank you for taking the time to visit my portfolio.
        <br /> If you have any questions or would like to discuss
        potential opportunities
        feel free to call me or reach out through any of the platforms below
    </p>
    <div class="button-container">
        <a href="tel:+381638821947">
            <button class="button-call">Call Me</button>
        </a>
    </div>
    <ul class="list">
        <li class="item">
            <a href="mailto:1andjela.ljubenkovic@gmail.com" target="_blank">
                <i class="fa fa-envelope fa-3x"></i></a>
        </li>
        <li class="item">
            <a href="https://www.linkedin.com/in/andjela-ljubenkovic/" target="_blank">
                <i class="fab fa-linkedin-in fa-3x"></i>
            </a>
        </li>
        <li class="item ">
            <a href="https://github.com/andjela24" target="_blank">
                <i class="fab fa-github fa-3x"></i></a>
        </li>
    </ul>
    &copy; Copyright 2022
</footer>