@import "mixins";
@import "variables";
@import "~bootstrap/dist/css/bootstrap.css";

.skill {
  @include flex-container(column);
  position: relative;
  padding: 4rem 0 4rem 0;

  &__heading {
    align-self: center;
    text-align: center;
    color: $white;
  }

  &_title {
    font-size: $font-size-h2;
    text-transform: uppercase;
    color: $purple;
  }

  &__paragraph {
    margin-bottom: 10px;
    color: $purple;
    font-size: $paragraph;
  }
}

.container .card {
  max-width: 300px;
  height: 100px;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px $overlay;
  transition: 0.3s ease-in-out;
}
.container .card:hover {
  height: 150px;
}
.container .card .imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  z-index: 1;
}
.container .card .imgContainer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
}
.container .card .content {
  position: relative;
  padding: 10px 15px;
  text-align: center;
  color: $purple;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}
.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
  transition-delay: 0.3s;
}

@media (max-width: 330px) {
  .container .card .imgContainer {
    left: -2px;
  }
}
