<section class="skill">
    <div class="heading" [@scrollAnimation]="state">
        <h2 class="title">WHAT I USE?</h2>
        <p class="paragraph ">Tools & Technologies </p>
    </div>
    <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/java.png" alt="Java">
            </div>
            <div class="content">
                <h6>Java</h6>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/c.svg" alt="C">
            </div>
            <div class="content">
                <h6>C</h6>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/c++.svg" alt="C++">
            </div>
            <div class="content">
                <h6>C++</h6>
            </div>
        </div>

        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/c-sharp.svg" alt="C#">
            </div>
            <div class="content">
                <h6>C#</h6>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/angular.svg" alt="Angular">
            </div>
            <div class="content">
                <h6>Angular</h6>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/react.svg" alt="React">
            </div>
            <div class="content">
                <h6>React</h6>
            </div>
        </div>

        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/html.svg" alt="HTML">
            </div>
            <div class="content">
                <h6>HTML</h6>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/css.svg" alt="CSS">
            </div>
            <div class="content">
                <h6>CSS</h6>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/javascript.svg" alt="Javascript">
            </div>
            <div class="content">
                <h6>Javascript</h6>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/php.svg" alt="PHP">
            </div>
            <div class="content">
                <h6>PHP</h6>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/mysql.svg" alt="MySQL">
            </div>
            <div class="content">
                <h6>SQL</h6>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='img_container'>
                <img src="assets/img/skills/git.png" alt="Git">
            </div>
            <div class="content">
                <h6>Git</h6>
            </div>
        </div>
    </div>
</section>