@mixin flex-container($flexdirection, $justifycontent: false) {
  @if $justifycontent {
    justify-content: $justifycontent;
  } @else {
    justify-content: center;
  }
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: $flexdirection;
}

@mixin grid-template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
}

@mixin animation-delay($element) {
  @for $i from 1 through $element {
    &:nth-child(#{$i}) {
      animation: slideIn (#{$i * 0.2s}) forwards;
    }
  }
}

@mixin grid-template($line, $column) {
  display: grid;
  grid-template-columns: repeat($line, $column);
  grid-template-rows: 300px;
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
